.portalContainer {
    position: fixed;
    top: 0;
    background-color: #0202026a;
    z-index: 1000;
    width: 100%;
    height: 100%;
}


.activeTour {
    display: block;
    position: relative;
    z-index: 1004;
    background-color: #fff;
    border-radius: 8px;
    height: fit-content;
    pointer-events: none;
    animation: beautiful .4s linear;
}

@keyframes beautiful {
    from {
        opacity: .1;
    }

    to {
        opacity: 1;
    }
}

.right,
.left,
.top,
.bottom,
.topSticky {
    pointer-events: all;
    position: absolute;
    color: #FFF;
    background-color: #EB9F52;
    font-size: 20px;
    border-radius: 8px;
    width: 310px;
    z-index: 1005;
    padding: 16px 12px 16px 12px;

}

.right {
    right: 0;
    top: 0;
    transform: translateX(105%);
}

.left {
    left: 0;
    top: 0;
    transform: translateX(-105%);
}

.bottom {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 110%);
}

.top {
    bottom: -20px;
    transform: translateY(-110%);
}

.topSticky {
    position: fixed;
    /* transform: translateY(105%); */
}


.animationToolTip {
    animation: fadeIn .8s ease-in-out;
}


.arrow {
    position: absolute;
    border-color: #EB9F52 transparent transparent transparent;
    border-style: solid;
    border-width: 15px;
    width: 0;
    height: 0;
    position: absolute;
    transform: rotate(180deg) translateX(-50%);
    top: -28px;
    right: 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.back {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: ggsr;
}

.next {
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    color: #EB9F52;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: ggsr;
    width: 111px;
}

.groupButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.closeButton {
    position: absolute;
    right: 50px;
    top: 120px
}

.closeButton svg {
    color: #fff;
    font-size: 24px;
}

.closeButton span {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.closeText {
    font-size: 20px;
    font-weight: 500;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.stepActive {
    font-size: 16px;
}

.linerProgress {
    position: absolute;
    bottom: -1px;
    left: 0;
    /* z-index: -1; */
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 8px;
    overflow: hidden;
    background-color: #D9D9D9;
    bottom: -2px;
    right: 0;
    border-radius: 0 0 5px 5px;

}

@media only screen and (max-width: 450px) {
    .activeTour {
        border-radius: 0;
    }

    .closeButton {
        right: 0;
        top: 50px;
    }

    .closeButton span {
        flex-direction: row-reverse;
    }

    .closeText {
        font-size: 14px;
        font-weight: 500;

    }

    .back {
        font-size: 14px;
    }

    .next {
        font-size: 14px;
    }

    .right,
    .left,
    .top,
    .bottom,
    .topSticky {
        font-size: 16px;
    }

    .modal>* {
        font-family: ggsr;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
